# Nonaktifkan directory listing
Options -Indexes

# Blokir akses ke folder bootstrap
<Directory "bootstrap">
    Order Allow,Deny
    Deny from all
</Directory>

# Blokir akses ke folder config
<Directory "config">
    Order Allow,Deny
    Deny from all
</Directory>

# Blokir akses ke folder objects
<Directory "objects">
    Order Allow,Deny
    Deny from all
</Directory>

# Blokir akses ke folder uploads
<Directory "uploads">
    Order Allow,Deny
    Deny from all
</Directory>

# Blokir akses ke folder vendor
<Directory "vendor">
    Order Allow,Deny
    Deny from all
</Directory>
